body{
    background-color: #effbff;
}
.header-container{
    background-color: #00204A;
}
.header{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
.table-header{
    background-color: #005792;
    margin: 0;
    color: white;
}
/* STATUS */
.on-going{
    color:yellow;
}
.done{
    color:rgb(0, 255, 0);
}
.not-done{
    color:red;
}
.trash-icon-toggle{
    display: none;
}
#activities{
    font-size: 15px;
}
.link-open{
    font-size: 10px;
}
.done-btn{
    font-size:10px;
}
/* FOOTER */
.links{
    list-style: none;
}
.contacts-link{
    margin:0 7px;
}
/* Lower showcase */
#lower-showcase{
    margin-top: 150px;
    border-top: black 5px solid;
    box-sizing: border-box;
    background-color: #00204A;
    color: white;
    padding:50px;
}
#first-image{
    width: 75%;
}
#coin_count_logo{
    width: 70%;
}
#mobile{
    display: none;
}
#nav-logo{
    width: 10%;
}
/* Modal */
#main_modal_header{
    background-color: #005792;
    color:white;
}
#main_modal_body{
    background-color: #effbff;
}
#add-btn{
    background-color: #00204A;
    color: white;
}
/* MOBILE SIZE */
@media(max-width:768px){
    .contacts-link{
        margin:0 5px;
    }
    #thead{
        font-size: 13px;
    }
    #coin_count_logo{
        width: 60%;
    }
    #mobile{
        display: block;
    }
    #not-mobile{
        display: none;
    }
    #lower-showcase{
        text-align: center;
        padding:0;
        padding-bottom: 50px;
    }
    #first-image{
        width: 60%;
    }
    
    #activities{
        font-size: 13px;
    }
}