// Colors
$primary: rgb(70, 68, 68);
$secondary: rgb(26, 30, 32);
$danger: rgb(214, 52, 52);
$warn: rgb(245, 196, 61);
$info: rgb(135, 209, 238);
// $info: blue;
$success: #25ce25;
$light: white;

//
$primary-faded: rgba(70, 68, 68, 0.5);
$secondary-faded: rgba(26, 30, 32, 0.5);
$danger-faded: rgba(214, 52, 52, 0.5);
$warn-faded: rgba(245, 196, 61, 0.5);
$info-faded: rgba(135, 209, 238, 0.5);
$success-faded: #25ce257a;
$light-faded: rgba(255, 255, 255, 0.5);
