///////// Themes //////////
// Global theme
$primary: #00bbf0;
$secondary: #52575d;
$danger: #e33e5a;
$warn: #ffb423;
$light: #fff;
$dark: #000;
$info: #bae8e8;

// Theme 1
$t1c1: #163a5f;
$t1c2: #1d566e;
$t1c3: #21aba5;
$t1c4: #45eba5;

// theme 2
$t2c1: #10375c;
$t2c2: #29de92;
$t2c3: #bae8e8;
$t2c4: #e3f6f5;

// Theme 3
$t3c1: #301551;
$t3c2: #492b7c;
$t3c3: #ed8a0a;
$t3c4: #f6d912;

// Theme 4
$t3c1: #27045b;
$t3c2: #6807f9;
$t3c3: #9852f9;
$t3c4: #ffd739;

// Theme 5
$t4c1: #00204a;
$t4c2: #005792;
$t4c3: #00bbf0;
$t4c4: #effbff;

// Theme 6
$t5c1: #1a1b2f;
$t5c2: #162447;
$t5c3: #1f4068;
$t5c4: #e3335a;

// Theme 7
$t6c1: #363940;
$t6c2: #52575d;
$t6c3: #ffb423;
$t6c3: #fddb3a;

///////// Buttons //////////
%btn {
    outline: none;
    padding: 2px;
    border: 1px solid $secondary;
    color: $dark;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);

    &:hover {
        background-color: $secondary;
    }

    &:active {
        outline: 3px #52575d4d solid;
    }
}
