/*btn container*/
#full-his-toggle{
    display: none;   
}
#full-his-toggle:hover{
    color:white;
}
/* Showcase area */
#showcase1{
    border-top:2px gray solid;
}
/* Main body */
.inner-sec{
    margin-left: 10px ;
    margin-right: 10px ;
}
/* Footer */
footer li{
    list-style: none;
    margin:auto 7px;
}
#main-footer{
    margin-top: 160px;
}
/* Opening Modal */
#opening{
    display: block;
}
/* Mobile View */
@media(max-width:768px){
    .inner-sec{
        margin:25px 0;
    }
    .copyright{
        font-size:18px;
    }
}
