@media only screen and (max-width: 1024px) {
    body {
        background-size: 120%;
    }

    header {
        h3 {
            font-size: 23px;
        }
    }

    .qoute-container {
        transform: scale(0.8);
    }
    .semi-info {
        font-size: 18px;
    }

    #add-set {
        transform: scale(0.8);
        top: 10px;
        right: 0;
    }
    footer {
        p {
            font-size: 20px;
        }

        #date-catcher {
            font-size: 20px;
        }
        .add-info {
            span {
                font-size: 20px;
            }
        }
        img {
            transform: scale(0.7);
        }
    }
}
