@media only screen and (max-width: 425px) {
    .qoute-container {
        p {
            font-size: 23px;
        }
    }

    .semi-info {
        .add-info {
            font-size: 16px;
        }
        button {
            font-size: 16px;
        }
    }
    footer {
        p {
            font-size: 16px;
        }
    }
}
