// colors
$dark: #000;
$light: #fff;
$success: #6b6;
$danger: rgb(241, 48, 48);
$warn: #fb0;
$secondary: #ccc;
$info: #66f;
$primary: #f0f;

// Faded

$dark-f: rgba(0, 0, 0, 0.3);
$light-f: rgba(255, 255, 255, 0.3);
$success-f: rgba(102, 187, 102, 0.3);
$danger-f: rgba(241, 48, 48, 0.3);
$warn-f: rgba(255, 187, 0, 0.3);
$secondary-f: rgba(204, 204, 204, 0.3);
$info-f: rgba(102, 102, 255, 0.3);
$primary-f: rgba(255, 0, 255, 0.3);
