@import 'config';
@import 'utilities';
@import 'btn';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    @extend %container-bg;
}

header {
    @extend %shadow;
    @extend %container-bg;
    color: $info;

    h1 {
        letter-spacing: 0.2em;
    }
    .main-point {
        color: lighten($dark, 15%);
        font-size: 35px;
    }

    .main-point {
        letter-spacing: normal;
    }
}

.frame {
    @extend %container-bg;
    @extend %shadow;
    min-height: 850px;
    max-width: 800px;
    margin: 5rem auto;
    text-align: center;

    hr {
        width: 70%;
        margin: 15px auto;
        margin-top: 30px;
    }

    .btn-act {
        @extend %round;
        @extend %btn-act;
        @include set-text-gradient($secondary, $dark);
        font-size: 40px;
        padding: 10px;
        border: none;
        outline: none;
        margin-top: 80px;
        padding: 20px 30px;
        font-weight: bold;

        &:hover {
            @include set-text-gradient(darken($secondary, 25%), $dark);
        }
        &:active {
            transform: scale(0.98);
        }
    }

    #play-btn {
        @extend %btn-act;
        @include set-text-gradient($primary, $info);
        font-size: 55px;
        padding: 30px 35px;
        font-weight: bolder;
        border-radius: 50%;
        height: 160px;

        &:hover {
            @include set-text-gradient($info, $primary);
        }
        &:active {
            transform: scale(0.99);
        }
    }
    #loader {
        height: 800px;
        border: 1px solid rgba(0, 0, 0, 0);

        p {
            margin-top: 50%;
            font-size: 28px;
            color: darken($secondary, 20%);
        }
    }
}

@import 'laptopL';
@import 'tablet';
@import 'mobile';
