body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    background-color: rgba(0, 0, 0, 0.57);
    border-bottom:10px black solid;
    padding:10px;
}
header h1{
    color:white;
    font-size: 50px;
    margin: 0;
    margin-left:40px;
    text-decoration: underline;
}


/* inputContainer */
.inputContainer{
    box-shadow: inset 10px 10px 7px white,
                10px 10px 7px rgba(0, 0, 0, 0.337);
    border-radius:20px;
    width:40%;
    margin: 30px 30% ;
    text-align: center;
    padding:20px;
    background-color: white;


}
.inputContainer label{
    font-size: 25px;
    margin-top: 25px;
    font-weight:bold;

}
.inputContainer input{
    width: 100%;
   font-size: 20px;
   margin-bottom: 15px;
}
.inputContainer button{
    margin-top:15px;
    padding:10px;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.782);
    border-radius: 10px;
    color:white;
}
.inputContainer button:hover{
    background-color: rgba(32, 32, 32, 0.522);
    color:white;
    border:2px white solid;
}
/* list */
.list{
    border: 1px black solid;
    width: 90%;
    min-height: 400px;
    margin:30px 5%;
    background-color: white;
    border-radius:10px;
}
.list h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.57);
    color:white;
    margin: 0;
    padding: 10px;
    border-bottom:4px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
   

}
.list p{
    width:95%;
    line-height: 1.6em;
    margin:0 2.5% 0 2.5%;
    
    font-size: 23px;
}
/* media */
@media(max-width:600px){
    .inputContainer{
        width: 50%;
        margin-right:25%;
        margin-left:25%;
    }
}


