body{
    background-color: rgb(58, 13, 36);
    color:azure;
    margin: 0%;
    padding: 0%;
}
#inputContainer{
    margin-left: 50px;
    
}
header h1{
    text-align: center;
    border-bottom: 1px black solid;
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.726);
}
#dataContainer{
    font-size: 35px;
    margin:0px 30% 50px 25%;
    
    padding:30px;
    text-align: center;
    color:gray;
    text-decoration: underline;
    margin-top: 50px;
    
    
    
   
}
#button {
    margin-left: 35px;
}
#button button{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.397);
    color:black;

}
#button button:hover{
    background-color: red;
    color: white;
}
.btn{
    float:left;
    
    padding:15px;
}
#firstName{
    background-color: rgba(255, 255, 255, 0.603);
    padding: 5px;
    font-size: 20px;
    border-radius:10px;
    margin-bottom: 20px;}
    
#lastName{
    background-color: rgba(255, 255, 255, 0.603);
    padding: 5px;
    font-size: 20px;
    border-radius:10px;
    margin-bottom: 20px;}

/* input container */
