*{
    padding:0;
    margin:0;
    font-family: arial;
}
body{
    background-color: #27045B;
}

.container{
    width: 70%;
    margin:auto;
    
}
.p{
    margin-top: 30vh;
    
}
.main-container{
    margin:auto;
    
}
.form-group{
    color:black;
    background-color: rgba(255, 255, 255, 0.815);
    padding:10px;
    min-height:150px;
    border-radius:8px;
    box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.267),
                15px 15px 12px rgba(0, 0, 0, 0.267);
}
.form-group label{
    display:block;
    font-size: 23px;
    text-align: center;
}
.form-group input{
    border-radius:10px;
    padding:5px 0;
    width: 95%;
    margin: auto;
    margin-top:15px;
    margin-bottom:10px;
    font-size: 18px;
    border:none;
}
.form-text{
    text-transform: uppercase;
    font-size: 23px;
    margin:10px 0;
    text-decoration: underline;

}
hr{
    width:60%;
    
    margin: 10px auto;
}
.btn{
    background-color:gray;
    font-size: 18px;
    padding:5px 10px;
    border-radius:5px;
    width:30%;
    margin:10px 35%; 
}
.text-container{
    margin-top: 50px;
    background-color: white;
    border-radius:10px;
    min-height:200px;
    border:1px black solid;
}
.text-container h2{
    text-align:center;
    margin:10px;
}
.texts{
    margin-left:50px;
}